/* _content/Blazoteca/Pages/Index.razor.rz.scp.css */
/* _content/Blazoteca/Pages/Shop.razor.rz.scp.css */
.form-select[b-qp06d3d39a] {
    display: initial;
    width: initial;
}
/* _content/Blazoteca/Shared/Card.razor.rz.scp.css */
.card[b-76icu2de6q] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 230px;
    height: 360px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.568);
    margin: 2%;
    border: 0;
}

.card:hover[b-76icu2de6q] { cursor: pointer; }

.badge[b-76icu2de6q] {
    top: 2.5%;
    right: 5%; 
    position: absolute;

    background-color: var(--dark-color);
    z-index: 10; 
}

.info-container[b-76icu2de6q] {
    background-color: var(--secondary-color);
}

.info-container:hover[b-76icu2de6q] {
    animation: 0.85s slow-highlighting-b-76icu2de6q forwards;
    cursor: pointer;
}

.title[b-76icu2de6q] {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2em;
    overflow-wrap: normal;
    color: rgb(185, 190, 201);
}

.title:hover[b-76icu2de6q] {
    color: rgb(123, 106, 202);
}

.made-in[b-76icu2de6q] {
    margin-bottom: -.5%;
    font-size: x-small;
}

.region[b-76icu2de6q] {
    font-size: 1em;
    line-height: 1em;
    overflow-wrap: normal;
    color: var(--txt-color);
}

.price[b-76icu2de6q] {
    font-weight: 700;
    font-size: 1em;
    color: rgb(123, 106, 202);
}

.old-price[b-76icu2de6q] {
    color: rgb(125, 117, 158);
}

button[b-76icu2de6q]
{
    color: var(--txt-color);
    background-color: var(--dark-color);
}

button:hover[b-76icu2de6q]
{
    color: var(--txt-color);
    background-color: var(--secondary-color);
}

@keyframes slow-highlighting-b-76icu2de6q {
    to { background-color: var(--ultra-dark-color);}
}
/* _content/Blazoteca/Shared/CustomMainLayout.razor.rz.scp.css */
main[b-z8srr0w22p] {
    flex: 1 0 auto;
}
/* _content/Blazoteca/Shared/CustomNavMenu.razor.rz.scp.css */
*[b-9chp4s6w9u] {
    color: var(--txt-color) !important;
}

nav[b-9chp4s6w9u] { flex-shrink: 0; }

@media (min-width: 992px) {
    ul.navbar-nav[b-9chp4s6w9u] { gap: 2em; }
}

nav[b-9chp4s6w9u], .dropdown-menu[b-9chp4s6w9u]
{
    background-color: var(--secondary-color) !important;
}


.navbar-toggler-icon[b-9chp4s6w9u] {
    filter: invert();
}

.dropdown-item:hover[b-9chp4s6w9u] {
    border-radius: .25em;
    background-color: var(--dark-color)
}

.dropdown-item:hover[b-9chp4s6w9u],
.navbar-nav > .nav-item:hover[b-9chp4s6w9u]
{
    animation: 0.75s slow-highlighting-b-9chp4s6w9u forwards;
}

@keyframes slow-highlighting-b-9chp4s6w9u  {
    to {
        border-radius: .25em;
        background-color: var(--dark-color)
    }
}

button[b-9chp4s6w9u]
{
    background-color: var(--dark-color);
}

button:hover[b-9chp4s6w9u]
{
    background-color: var(--ultra-dark-color);
}

.badge[b-9chp4s6w9u] {
    background-color: var(--ultra-dark-color) !important;
}
/* _content/Blazoteca/Shared/Footer.razor.rz.scp.css */
footer[b-a126z7ivyv] {
    --credits-color: gainsboro;

    flex-shrink: 0;
    background-color: var(--dark-color);
}

a[b-a126z7ivyv], p[b-a126z7ivyv], span[b-a126z7ivyv] {
    text-decoration: none;
    color: gainsboro;
}
/* _content/Blazoteca/Shared/Hero.razor.rz.scp.css */
.wrapper[b-6qm5377twb] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner[b-6qm5377twb] {
    max-height: 75vh;
}

.heading[b-6qm5377twb] {
    position: absolute;
    text-align: center;
    color: var(--txt-color);
    z-index: 10;
}

.heading > h1[b-6qm5377twb] {
    font-size: 4rem;
}

.heading > h4[b-6qm5377twb] {
    font-size: 1.5rem;
}

.carousel-item[b-6qm5377twb] {
    max-height: inherit;
}

img[b-6qm5377twb] {
    filter: brightness(40%);
}
