button[b-jyc1m5lllj]
{
    color: var(--txt-color);
    background-color: var(--dark-color);
}

button:hover[b-jyc1m5lllj]
{
    color: var(--txt-color);
    background-color: var(--secondary-color);
}

button:focus[b-jyc1m5lllj] {
    box-shadow: 0 0 0 0.25rem rgba(212, 140, 230, 0.89) !important;
}