/* .title-wrapper {
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.568);

    --hero-height: 75vh;
    /* height: var(--hero-height); */
    /* margin-bottom: calc(100vh - var(--hero-height)); */

.title-wrapper :not(img)[b-ysffkezke9] {
    z-index: 10;
    color: var(--txt-color);
}

.title-wrapper > img[b-ysffkezke9] {
    filter: brightness(40%);
}

button[b-ysffkezke9]
{
    color: var(--txt-color);
    outline: 0;
    background-color: var(--dark-color);
}

button:hover[b-ysffkezke9]
{
    color: var(--txt-color);
    background-color: var(--ultra-dark-color);
}

.form-container[b-ysffkezke9] {
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.568);
    padding: 3rem;
}