.form-select[b-qp06d3d39a] {
    display: initial;
    width: initial;
}

button[b-qp06d3d39a]
{
    color: var(--txt-color);
    background-color: var(--dark-color);
}

button:hover[b-qp06d3d39a]
{
    color: var(--txt-color);
    background-color: var(--secondary-color);
}

button:focus[b-qp06d3d39a] {
    box-shadow: 0 0 0 0.25rem rgba(212, 140, 230, 0.89) !important;
}