@page "/chi-siamo"

<Hero
    Title="Chi siamo"
    Subtitle="Un'importante storia di successi alle spalle"
    ImgPath1="./img/sedeopenday.jpg"
    ImgPath2="./img/sedeopenday.jpg"
    ImgPath3="./img/sedeopenday.jpg"></Hero>

<section class="p-3">
    <p class="mt-4 text-center fs-4">L'I.T.T. "Blaise Pascal" offre massime competenze <span class="important">informatiche</span>, <span class="important">elettroniche</span>, in <span class="important">automazione</span> e in<br><span class="important">telecomunicazioni</span> a livello <span class="important">provinciale</span> sin dal 1959.</p>

    <p class="mt-4 text-center fs-4">Le discipline tecniche, grazie al <span class="important">30% delle ore di lezione</span> dedicate alle attività di laboratorio,<br>
    guidano lo studente nel percorso che dall’<span class="important">analisi del problema</span> porta<br>alla <span class="important">progettazione</span> ed alla <span class="important">implementazione</span> della <span class="important">soluzione</span></p>

    <div class="container-fluid mt-4 px-0">
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="w-100" src="./img/olinfo.png">
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <img class="w-100" src="./img/SR.png">
                <video autoplay muted loop class="w-100 mt-3">
                    <source src="./media/video-lab-2.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <video autoplay muted loop class="w-100">
                    <source src="./media/video-lab.mp4" type="video/mp4">
                </video>
                <img class="w-100 mt-3" src="./img/showcase-1.jpeg">
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <h2 class="mt-3 fw-bold fs-2">Informazioni generali</h2>
    <div class="container-fluid px-0 fs-5 mt-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <i class="bi bi-geo-alt-fill"></i> P.le Macrelli, 100 – 47521 Cesena (FC)<br>
                <i class="bi bi-telephone-fill"></i> tel. +39 0547 22792 (plesso Pascal)  –  +39 0547 631656 (plesso Comandini)<br>
                <i class="bi bi-braces"></i> <span class="important">CODICE SCUOLA</span>: FOIS01100L<br>
                <i class="bi bi-envelope"></i> <span class="important">EMAIL PROTOCOLLO</span>: fois01100l@istruzione.it<br>
            </div>
            <div class="col-12 col-md-6">
                <i class="bi bi-envelope"></i> <span class="important">POSTA CERTIFICATA</span>: fois01100l@pec.istruzione.it<br>
                <i class="bi bi-braces"></i> <span class="important">CODICE IPA</span>: iisspc<br>
                <i class="bi bi-person-square"></i> <span class="important">CODICE FISCALE</span>: 90076540401<br>
                <i class="bi bi-braces"></i> <span class="important">CODICE UNIVOCO FATTURAZIONE</span>:  UFBAPW<br>
            </div>
        </div>
    </div>
</section>
