footer[b-a126z7ivyv] {
    --credits-color: gainsboro;

    background-color: var(--dark-color);
}

a[b-a126z7ivyv], p[b-a126z7ivyv], span[b-a126z7ivyv] {
    text-decoration: none;
    color: gainsboro;
}