<td data-th="Product">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="img/wine-bottle.png" alt="" class="img-fluid d-none d-md-inline w-75 rounded shadow ">
        </div>
        <div class="col-md-9 text-left mt-sm-2">
            <h4 class="fw-bolder">Lambrusco Trebbiano 2022</h4>
            <p class="font-weight-light">Prodotto a Forlì - Cesena</p>
        </div>
    </div>
</td>
<td data-th="Price">€49.00</td>
<td data-th="Quantity">
    <input type="number" class="form-control form-control-lg text-center" value="1">
</td>
<td class="actions" data-th="">
    <div class="text-right">
        <button class="btn btn-md mb-2">
            <i class="oi oi-trash"></i>
        </button>
    </div>
</td>