<div class="card h-100 w-sm-100">
    <img src="img/wine-bottle.png" alt="Sono qui!" class="cardimg w-75">
    <div class="cardinfo">
        <p class="name">Lambrusco</p>
        <p class="region">Emilia - Romagna</p>
        <div class="inforow">
            <p class="price">7.99€</p>
            <p class="year">2022</p>
        </div>
    </div>
</div>