<!-- Footer-->
<footer class="mt-5 py-5">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; Blazoteca 5F; <br>
            Template rivisitato da: Chiarabaglio Luca, Magi Nicholas, Pasini Luca, Ventrucci Riccardo<br>
            <span class="small">Originale: <a href="https://startbootstrap.com/template/shop-homepage" target="_blank">https://startbootstrap.com/template/shop-homepage</a></span>
        </p>
    </div>
</footer>