<div class="wrapper">
    <div class="heading">
        <h1 class="fw-bolder">Blazoteca</h1>
        <span class="fs-4">Un progetto Blazor di 5F</span>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/brindisi.jpg" class="d-block w-100" alt="cantina">
            </div>
            <div class="carousel-item">
                <img src="img/cantina.jpg" class="d-block w-100" alt="sangiovese">
            </div>
            <div class="carousel-item">
                <img src="img/cantina-2.jpg" class="d-block w-100" alt="mantellina">
            </div>
        </div>
        <button class="d-none d-md-flex carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="d-none d-md-flex carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>