.carousel-inner {
    max-height: 75vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 10;
}

.carousel-item {
    margin-left: -100vw;
    max-height: inherit;
}

img {
    filter: brightness(40%);
}