/* _content/Blazoteca/Shared/Card.razor.rz.scp.css */
:root[b-76icu2de6q] {
    --primary-dark: rgb(36, 39, 70);
    --neutral: rgb(28, 28, 49);
    --card-bg: rgb(39, 40, 58);
}

*[b-76icu2de6q] {
    margin:0;
    padding:0;
}

body[b-76icu2de6q] {
    box-sizing: border-box;
    background-color: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container[b-76icu2de6q] {
    background-color: var(--neutral);
    width: 90%;
    height: 90%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.568);
}


.catalog[b-76icu2de6q] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.card[b-76icu2de6q] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--card-bg);
    width: 230px;
    height: 360px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.568);
    margin:2%;
}

.card:hover[b-76icu2de6q] {
    width: 253px;
    height: 396px;
    transition: height .1s ease-in, width .1s ease-in;

}

.cardimg[b-76icu2de6q] {
    width: 100%;
}

.cardinfo[b-76icu2de6q] {
    height: 90%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.name[b-76icu2de6q] {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1em;
    overflow-wrap: normal;
    color: rgb(185, 190, 201);
}

.name:hover[b-76icu2de6q] {
    color: rgb(123, 106, 202);
}

.region[b-76icu2de6q]{
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
    margin: 13%;
    margin-top: 4%;
    margin-bottom: 0;
    overflow-wrap: normal;
    color: rgb(118, 129, 153);
}

.inforow[b-76icu2de6q] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 12%;
    margin-top: 0;
}

.price[b-76icu2de6q] {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: rgb(123, 106, 202);
}

.year[b-76icu2de6q] {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: rgb(185, 190, 201);
}
/* _content/Blazoteca/Shared/CustomNavMenu.razor.rz.scp.css */
*[b-9chp4s6w9u] {
    --txt-color: white;
    --primary-color: #92153b;
    --secondary-color: #630e45;
    --dark-color: #43024b;
    --ultra-dark-color: #210038;

    color: var(--txt-color) !important;
}

@media (min-width: 992px) {
    ul.navbar-nav[b-9chp4s6w9u] { gap: 2em; }
}

nav[b-9chp4s6w9u], .dropdown-menu[b-9chp4s6w9u]
{
    background-color: var(--secondary-color) !important;
}

.navbar-toggler[b-9chp4s6w9u] {
    color: var(--txt-color) !important;
}

.dropdown-item:hover[b-9chp4s6w9u] {
    border-radius: .25em;
    background-color: var(--dark-color)
}

.nav-item:hover[b-9chp4s6w9u],
.dropdown-item:hover[b-9chp4s6w9u]
{
    animation: 0.75s slow-highlighting-b-9chp4s6w9u forwards;
}

@keyframes slow-highlighting-b-9chp4s6w9u  {
    to {
        border-radius: .25em;
        background-color: var(--dark-color)
    }
}

button[b-9chp4s6w9u]
{
    background-color: var(--dark-color);
}

button:hover[b-9chp4s6w9u]
{
    background-color: var(--ultra-dark-color);
}

.badge[b-9chp4s6w9u] {
    background-color: var(--ultra-dark-color) !important;
}
/* _content/Blazoteca/Shared/Hero.razor.rz.scp.css */
.carousel-inner[b-6qm5377twb] {
    max-height: 75vh;
}

.carousel-item[b-6qm5377twb] {
    max-height: inherit;
}

img[b-6qm5377twb] {
    filter: brightness(40%);
}
/* _content/Blazoteca/Shared/MainLayout.razor.rz.scp.css */
.page[b-8ioosr2nee] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8ioosr2nee] {
    flex: 1;
}

.sidebar[b-8ioosr2nee] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8ioosr2nee] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8ioosr2nee]  a, .top-row .btn-link[b-8ioosr2nee] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-8ioosr2nee] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-8ioosr2nee] {
        display: none;
    }

    .top-row.auth[b-8ioosr2nee] {
        justify-content: space-between;
    }

    .top-row a[b-8ioosr2nee], .top-row .btn-link[b-8ioosr2nee] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8ioosr2nee] {
        flex-direction: row;
    }

    .sidebar[b-8ioosr2nee] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8ioosr2nee] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-8ioosr2nee], article[b-8ioosr2nee] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Blazoteca/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rioabscnmn] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rioabscnmn] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rioabscnmn] {
    font-size: 1.1rem;
}

.oi[b-rioabscnmn] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rioabscnmn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rioabscnmn] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rioabscnmn] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rioabscnmn]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rioabscnmn]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rioabscnmn]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rioabscnmn] {
        display: none;
    }

    .collapse[b-rioabscnmn] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
